<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <script src="/js/navbar_utils.js"></script>
    <script src="/js/pose_studio.js"></script>
</head>

<body class="bg-gray-950 overflow-y-hidden" onload="onload_update()">
    <%- include('../partials/navbar') %>
    <div class="m-4 flex flex-row">
        <%- include('../partials/pose_studio/table') %>
        <%- include('../partials/pose_studio/button') %>
    </div>
    <%- include('../partials/pose_studio/pose_select_popup') %>
    <%- include('../partials/pose_studio/save_popup') %>
</body>

</html>